@import url('https://fonts.googleapis.com/css2?family=Numans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Numans', sans-serif;
    transition: all 0.3s ease-in-out;
    user-select: none;
}

root{
    overflow: hidden;
}

a{
    text-decoration: none;
    color: black;
}

.d-orange{
    color: darkorange;
}

button, input{
    border: none;
    outline: none;
    background-color: transparent;
}

button{
    font-weight: bold;
}

a:hover, button:hover{
    cursor: pointer;
}